//I'll use mixins to store my media queries
@mixin desktop {
    @media (min-width: 1200px) {
        @content;
    }
}
/*
@mixin tablets {
    @media (max-width:)
}*/

//mixin for trasitions
@mixin hoverClass {
    transition: all .5s;
    &:hover {
        background: $primary-col;
        color: $secondary-col;
        font-size: 1.1rem;
    }
}